@import 'reset.css';

body {
    margin: auto;
    font-family: "Open Sans", serif;
    width: 70%;
}

th, td { border: thin solid #eee; }

td, th { padding: .5em; text-align: center; font-size: 14px; }

th { font-weight: 900; }

td.q { padding: .5em; text-align: left; }

h1 {
    font-size: 150%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ul {
    margin-left: 0;
    padding-left: 40px;
    list-style-type: disc;
}

li { padding-bottom: 1em; }

p {
    line-height: 1.25em;
}

div.banner {
    font-size: 96px;
    text-align: center;
    padding: 12px;
}

div.banner p {
    padding-top: 24px;
}

div.banner p.fun {
    color: #00f;
}

div.banner p.hard {
    color: #f00;
}

div.card {
    position: relative;
    margin: 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 3em;
    border: thin solid #666;
    background: #dde;
    height: 3in;
}

div.start-instructions p {
    font-size: 120%;
    padding-bottom: 1em;
    text-align: center;
}

div.count {
    position: absolute;
    top: 3%;
    right: 3%;
    text-align: right;
}

div.results_card {
    margin: 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 3em;
    border: thin solid #333;
    background: #dde;
}

div.summary p {
    padding-bottom: 1em;
    font-size: 24px;
    text-align: center;
}

p.question {
    font-size: 150%;
    text-align: center;
}

div.answers {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

div.instructions {
    font-style: italic;
    font-size: 80%;
    text-align: center;
}

input.numbers {
    margin: 1em;
    padding: 1em;
    text-align: center;
    /*border: 2px solid #448;*/
}

div.submit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

input.submit {
    padding: 1em;
    flex-basis: 25%;
}
