<!DOCTYPE html>
<html>
  <head>
    <title>Calibration!</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>
    <div class="results_card">
      <h1>Quizes</h1>
      <ul>
        {% for name, results in quizes.items() %}
        <li><a href="/q/{{name}}">{{name}}</a>{% if results %} (<a href="/s/{{name}}">summary</a>){% endif %}</li>
        {% endfor %}
      </ul>

      <h1>Question sets</h1>
      <ul>
        {% for s in sets %}
        <li><a href="/new/{{s}}">{{s}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
