<!DOCTYPE html>
<html>
  <head>
    <title>Calibration!</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>
    <div class="card">
      <div class="start-instructions">
      <p>
        You are about to practice estimating numeric values.</p>
      <p>
        You will be asked to estimate ten values by providing a range
        in the form of a lower and upper bound.</p>

      <p>You should set the range so you are 90% sure that the true
        value is in your range.
      </p>
      <p>
        <a href="{{url}}">Click to start</a>
      </p>
    </div>
  </body>
</html>
