<!DOCTYPE html>
<html>
  <head>
    <title>Calibration!</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>

    <div class="results_card">
      <div class="summary">
        <h1>Wisdom of crowds?</h1>
        <p>Extremes: {{ extremes.fraction_correct|percentage }} /
        Average bounds: {{ means.fraction_correct|percentage }}</p>
        <p class="estimators">{{n|number}} estimator{{n|plural}}.</p>
      </div>
      <table>
        <thead>
          <tr>
            <th>Question</th>
            <th>Actual value</th>
            <th>Extremes</th>
            <th>Averages</th>
            <th>Extremes good?</th>
            <th>Averages good?</th>
          </tr>
        </thead>
        <tbody>
          {% for e, m in zip(extremes.estimates, means.estimates) %}
          <tr>
            <td class="q">{{ e.q }}</td>
            <td>{{ e.a|number }}</td>
            <td>{{ e.low|number }} to {{ e.high|number }}</td>
            <td>{{ m.low|number }} to {{ m.high|number }}</td>
            <td>{% if e.a < e.low %}Too high{% elif e.a <= e.high %}Yes{% else %}Too low{% endif %}</td>
            <td>{% if m.a < m.low %}Too high{% elif m.a <= m.high %}Yes{% else %}Too low{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </body>
</html>
